body {
  font-family: 'Poppins', sans-serif !important;
}

a {
  font-family: 'Poppins', sans-serif !important;
}

.btn {
  border-radius: 50px !important;
}


/* navbar style*/

.my-navbar {
	box-shadow: 0px 10px 30px rgba(216, 216, 216, 0.45);
	width :100%;

}

.navbar-brand {
	font-weight: bold;
}

.navbar-brand img {
	width: 50px;
}

.nav-link {
	border-bottom : 4px solid white;
	margin-right : 24px;
	transition: 0.3s ease;
	padding: 5px;
}

.nav-link:hover {
	color: black;
	border-bottom : 4px solid #eb4027;
}

.nav-active a {
	color : black !important;
	font-weight: 600;
	border-bottom: 4px solid #eb4027; 
}

#test {
	margin: 150px auto;
	width: 100%;
	height: 200px;
}

/* navbar style*/

/* header */

.text1 {
  margin-top: 200px;
}

.gambar1{
  margin-top: 100px ;
}

#hero {
  margin: 50px auto;
}

.illus1 {
  position: relative;
  width: 650px;
  right: 50px;
}

.text1 span{
  font-weight: bold;
  color: rgb(197, 13, 0);
}

.laptop {
  position: absolute;
  width: 650px;
  top: 10px;
  left: -20px;
}

.layar1 {
  position: absolute;
  width: 600px;
  top: 20px;
  left: -10px;

}

.layar2 {
  position: absolute;
  width: 600px;
  top: 20px;
  left: -10px;

}

.tanaman {
  position: absolute;
  width: 700px;
  top: -26px;
  left: -45px;

}


@media only screen and (max-width: 750px)  {
  .illus1 {
    width: 430px;
    position: relative;
    right: 50px;
  }

  .laptop {
    width: 450px;
    left: -45px;
    top: -10px;
  }

  .layar1 {

    width: 400px;
    top: 0px;
    left: -10px;
  
  }

  .layar2 {
    width: 500px;
    top: -10px;
    left: -80px;
  
  }

  .tanaman {
    width: 450px;
    top: -10px;
    left: -45px;
  
  }

  .text1 {
    margin-top: 70px;
  }

  .gambar1 {
    margin-top: 20px;
  }

}

/* header */


/* Contact*/
h4 {
  text-align: center;
  color: white;
  text-shadow: 1px 1px 0 white;
}

#test {
  margin-top: 15px;
  position: relative;
}

form {
  max-width: 600px;
  text-align: center;
  margin: 20px auto;
}
form input, form textarea {
  border: 0;
  outline: 0;
  padding: 1em;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  display: block;
  width: 100%;
  margin-top: 1em;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  resize: none;
}
form input:focus, form textarea:focus {
  -moz-box-shadow: 0 0px 2px #e74c3c !important;
  -webkit-box-shadow: 0 0px 2px #e74c3c !important;
  box-shadow: 0 0px 2px #e74c3c !important;
}
form #input-submit {
  color: white;
  background: #e74c3c;
  cursor: pointer;
}
form #input-submit:hover {
  -moz-box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
  -webkit-box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
  box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
}
form textarea {
  height: 126px;
}

.half {
  float: left;
  width: 48%;
  margin-bottom: 1em;
}

.right {
  width: 50%;
}

.left {
  margin-right: 2%;
}

@media (max-width: 480px) {


  .half {
    width: 100%;
    float: none;
    margin-bottom: -10px;
  }
}
/* Clearfix */
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.cf:after {
  clear: both;
}
 /* contact */

 /* works */

#works {
  letter-spacing: 0.2em;
  font-family: 'Nunito', sans-serif;
}

#works img {
  position: relative;
}

.myworks {
  position: relative;
  margin-top: 150px;
  z-index: 5;
}

.lottie {
  position: relative;
  z-index: 1;
  margin: auto;
  top: -90px;
}

.porto01{
  box-shadow: 10px 10px 29px -4px rgba(0,0,0,0.42);
}

.porto02{
  box-shadow: 10px 10px 29px -4px rgba(0,0,0,0.42);
}

.porto3{
  box-shadow: 10px 10px 29px -4px rgba(0,0,0,0.42);
}

.porto6{
  box-shadow: 10px 10px 29px -4px rgba(0,0,0,0.42);
}

.porto4{
  box-shadow: 10px 10px 29px -4px rgba(0,0,0,0.42);
}

.porto5{
  box-shadow: 10px 10px 29px -4px rgba(0,0,0,0.42);
}
/* #works span {
  padding: 5px 10px;
  background-color: salmon;
  color: white;
  border-radius: 10px;
} */

.btnn {
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 7px 14px;
  font-size: 12px;
  float: left;
  border-radius: 25px;
}

/* Green */
.orange {
  border-color: #ff9800;
  color: orange;
}

.red {
  border-color: #f44336;
  color: red;
}

.blue {
  border-color: #2ec1ac;
  color: #2ec1ac;
}

.purple {
  border-color: #d2e603;
  color: #d2e603;
}

.green {
  border-color: #61b15a;
  color: #61b15a;
}

.judul{
  text-align: left;
  font-size: 20px;
}

.subjudul {
  text-align: left;
  font-size: 14px;
}

.textinfo {
  margin-top: 170px;
}

.textinfo a {
  color: #61b15a;
  text-decoration: none;
}

@media only screen and (max-width: 750px)  {
  .textinfo {
    margin-top: 50px;
  }

}

/* works */




/*Wave*/
.header {
  position:relative;
  margin-top: 75px;
  text-align:center;
  background: linear-gradient( 181deg,  rgba(249,97,100,1) 0.4%, rgba(250,126,129,1) 89.6% );
  color:white;

}

.inner-header {
  height:65vh;
  width:100%;
  margin: 0;
  padding: 0;
}

.flex { /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 500px;
}

.waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
}

.content {
  position:relative;
  height: 150px;
  text-align:center;
  background-color: white;
}

.discordpng {
  width: 28px;
  height: 28px;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .content {
    height:30vh;
  }
}

/*Wave*/




/* LOADER */

/* .loader-wrapper {
  width:100%;
  height:100%;
  position: absolute;
  top: 0;
  left : 0;
  background-color: #900c3f;
  display: flex;
  z-index: 5;
  justify-content : center;
  align-items : center;
  
  }

.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #Fff;
  animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  
  25% {
    transform: rotate(180deg);
  }
  
  50% {
    transform: rotate(180deg);
  }
  
  75% {
    transform: rotate(360deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }
  
  25% {
    height: 0%;
  }
  
  50% {
    height: 100%;
  }
  
  75% {
    height: 100%;
  }
  
  100% {
    height: 0%;
  }
} */

/* loader */